<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE book PUBLIC "-//OASIS//DTD DocBook XML V4.1.2//EN"
	"http://www.oasis-open.org/docbook/xml/4.1.2/docbookx.dtd" []>

<book id="Szedata2Guide">
 <bookinfo>
  <title>szedata2 Kernel Guide</title>
 </bookinfo>

  <chapter>
  <title>Interfaces</title>
  <sect1>
     <title>Userspace Interface</title>
!I../../xslaby/lbr/linux-drivers/kernel/include/szedata2.h
  </sect1>

  <sect1>
     <title>Intradriver Interface</title>
!I../../xslaby/lbr/linux-drivers/kernel/include/szedata2k.h
  </sect1>

  <sect1>
	<title>Public Functions</title>
!I../../xslaby/lbr/linux-drivers/kernel/drivers/szedata2/szecore2.c
  </sect1>
</chapter>

</book>
